@import './__variables.scss';

.section__wrapper{
  max-width: 740px;
  margin: 50px auto;
}

.textRef{
  color: $refsColor;
  border-bottom: 1px solid $refsColor;
  &:visited{
    color: $greyText;
    border-bottom: 1px solid $greyText;
  }
  &:hover{
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
  }
}

.section__wrapper-titleMain{
  font-size: 48px;
  color: #000;
  padding: 13px 0 33px;
}

.section__wrapper-title{
  font-size: 36px;
  color: #040404;
}

.section__wrapper-strongText{
  font-size: 20px;
  padding-bottom: 40px;
}

.section__wrapper-text{
  color: #424242;
}

.section__wrapper-img{
  margin: 50px 0;
  width: 100%;
}

.section__wrapper-textLine{
  position: relative;
  padding-left: 50px;
  margin: 30px 0 10px;
  &::before{
      position: absolute;
      content: '';
      width: 0px;
      height: 100%;
      border: 2px solid $mainColor;
      left: 0;
  }
}
.section__wrapper-textLineAdd{
  color: #000;
  padding-left: 50px;
  margin-bottom: 30px;
}

.section__wrapper-minorTitle{
  font-size: 30px;
  margin: 40px 0;
}

.section__wrapper-textCircle.animationStart{
  &::before, &::after{
      opacity: 1;
      transform: translateX(0);
  }
}

.section__wrapper-textCircle2{
  padding-left: 95px;
  margin-bottom: 30px;
}

.section__wrapper-textCircle{
  padding-left: 95px;
  position: relative;
  margin: 30px 0 0px;
  &::after, &::before{
      transition: 2s ease all;
      opacity: 0;
      transform: translateX(-100px);
      position: absolute;
      content: '';
      border-radius: 50%;
  }
  &::before{
      left: 0;
      top: -18px;
      width: 55px;
      height: 55px;
      border: 2px solid $mainColor;
  }
  &::after{
      left: 3px;
      top: -15px;
      width: 51px;
      height: 51px;
      border: 1px solid $mainColor;
  }
}

// mobile adaptive

@media ( max-width: 480px ) {
  body section{
    font-size: 16px;
  }
  .section__wrapper-titleMain{
    font-size: 27px;
  }
  .section__wrapper-strongText{
    font-size: 18px;
  }
  .section__wrapper-textLine, .section__wrapper-textLineAdd{
    padding-left: 15px;
  }
  .section__wrapper{
    padding: 0 25px;
    margin: 20px auto;
  }
  .header__main .header__fixed{
    margin-top: 20px;
  }
  .header__fixed-networks .header__networks-item{
    width: 25px;
    height: 25px;
  }
  .header__fixed-logo{
    width: 113px;
  }
  .header__fixed{
    top: 0;
  }
  .header__nav .nav-item{
    margin: 30px 0 5px;
  }
  .header__nav.red .nav-item{
    margin: 60px 0 15px;
  }
  .mobileAddition{
      height: 49px;
  }
  .section__wrapper-textCircle.phone::after,
  .section__wrapper-textCircle.window::after,
  .section__wrapper-textCircle.store::after,
  .section__wrapper-textCircle.message::after,
  .section__wrapper-textCircle.coins::after,
  .section__wrapper-textCircle.doc::after,
  .section__wrapper-textCircle.wallet::after
  {
      background-size: 20px;
  }

  .section__wrapper-textCircle{
    margin: 20px 0 30px;
    padding-left: 55px;
  }
  .section__wrapper-textCircle::before{
    left: 0;
    top: -13px;
    width: 35px;
    height: 35px;
  }

  .section__wrapper-textCircle::after{
    left: 3px;
    top: -10px;
    width: 31px;
    height: 31px;
  }

  .section__wrapper-textCircle2{
    padding: 0;
  }
}